@import "tailwindcss";

@theme {
  --color-primary: #0D6EFD;
  --color-secondary: #606060;
  --color-success: #00B517;
  --color-warning: #FF9017;
  --color-danger: #FA3434;
  --color-light-gray: #F7FAFC;
  --color-border-color: #E3E8EE;
}

body {
  font-family: 'Inter', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
